@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>
<div class="login">
    <div class="align-content-center">
        <input type="text" placeholder="Username" id="username" />
        <input type="password" placeholder="Password" id="passwordd" />
        <input type="submit" value="Sign In" id="submit" @*onclick="validate()*@" />
        <a href="signup.html" class="Signup">Sign Up</a>
    </div>
</div>